.cameraSvg {
    width: 3rem;
    height: 3rem;
    color: var(--text);
    z-index: 3;
    &:active {
        color: var(--text-click);
    }
}

.svgIcon {
    width: 2rem;
    height: 2rem;
    color: var(--text);
    &:active {
        color: var(--text-click);
    }
}

.dragHandleSvg {
    width: 5vw;
    height: auto;
}